.backButton{
    -fx-background-color: #3e2936;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 35px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.backButton:hover{
    -fx-text-fill: #efb6d8;         
    -fx-border-color: #efb6d8;   
}

.usersButton{
    -fx-background-color: #224a32;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 25px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.usersButton:hover{
    -fx-text-fill: #a3ffb8;         
    -fx-border-color: #a3ffb8;   
}

.questionsButton{
    -fx-background-color: #242336;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 25px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.questionsButton:hover{
    -fx-text-fill: #a8a3e6;         
    -fx-border-color: #a8a3e6;   
}

.fieldLabel{
    -fx-font-size: 16px;
    -fx-text-fill: #f3f3f3;
    -fx-font-weight: bold;
}

.inputField{
    -fx-background-color:#000000;
}

.inputTextArea{
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

.inputTextArea .content {
    -fx-background-color: #000000;
}

.headerLabel{
    -fx-font-size: 24px;
    -fx-text-fill: #f3f3f3;
    -fx-font-weight: bold;
}

.saveLabel{
    -fx-font-size: 18px;
    -fx-text-fill: #29ce6b;
    -fx-font-weight: bold;
}


.sendButton{
    -fx-background-color: #224a32;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}

.sendButton:hover {
    -fx-text-fill: #a3ffb8;         
    -fx-border-color: #a3ffb8;      
}