
.usernameLabel{
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.rankLabel{
    -fx-font-size: 18px;
}

.pointsLabel{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


.logoutButton{
    -fx-background-color: #3e2936;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 35px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.logoutButton:hover{
    -fx-text-fill: #efb6d8;         
    -fx-border-color: #efb6d8;   
}

.settingButton{
    -fx-background-color: #222e4a;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 35px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.settingButton:hover{
    -fx-text-fill: #a3d2ff;         
    -fx-border-color: #a3d2ff;   
}

.rankingButton{
    -fx-background-color: #242336;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 35px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.rankingButton:hover{
    -fx-text-fill: #a8a3e6;         
    -fx-border-color: #a8a3e6;   
}


.playButton{
    -fx-background-color: #224a32;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 35px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 3px 0px 3px 3px;
    -fx-border-style: solid;
}

.playButton:hover {
    -fx-text-fill: #a3ffb8;         
    -fx-border-color: #a3ffb8;      
}

.adminButton{
    -fx-background-color: #642a18;
    -fx-text-fill: #f3f3f3;
    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-border-color: #f3f3f3;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;
}

.adminButton:hover {
    -fx-text-fill: #ffbb80;         
    -fx-border-color: #ffbb80;      
}

.gameInfoLabel{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.noGames{
    -fx-text-fill: #996324;
}

.separator{
    -fx-font-size: 60px;
    -fx-text-fill: #f3f3f3;
}

.wins{
    -fx-font-size: 30px;
    -fx-text-fill: #18984d;
}

.loses{
    -fx-text-fill: #cf2121;
    -fx-font-size: 30px;
}